[submodule "practice-spring-batch"]
	path = practice-spring-batch
	url = git@github.com:shin-je-woo/practice-spring-batch.git
[submodule "practice-spring-kafka"]
	path = practice-spring-kafka
	url = git@github.com:shin-je-woo/practice-spring-kafka.git
[submodule "security-api"]
	path = security-api
	url = git@github.com:shin-je-woo/security-api.git
[submodule "practice-spring-security"]
	path = practice-spring-security
	url = git@github.com:shin-je-woo/practice-spring-security.git
[submodule "practice-spring-advanced"]
	path = practice-spring-advanced
	url = git@github.com:shin-je-woo/practice-spring-advanced.git
[submodule "practice-querydsl"]
	path = practice-querydsl
	url = git@github.com:shin-je-woo/practice-querydsl.git
[submodule "practice-spring-transaction"]
	path = practice-spring-transaction
	url = git@github.com:shin-je-woo/practice-spring-transaction.git
[submodule "practice-spring-db2"]
	path = practice-spring-db2
	url = git@github.com:shin-je-woo/practice-spring-db2.git
